extends ../layout

block content
    h3= book.title
    a(href = `/books/edit/${book.id}`) Edit Book
    a(href = `/books/delete/${book.id}`) Delete Book
    div
        img(src = book.cover_image)
        p Genre: #{book.genre}
        // for author
        p Publisher: #{book.publisher}
        p Page Count: #{book.page_count}
        p= book.description